@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* { 
 font-family:Open Sans;
}
.mascot { 
 max-width:300px;
 max-height:300px;
 vertical-align:middle;
 display:inline;
 bottom:0;
 margin:auto;
 position:fixed;
 right:0;
 left:0;
}
#previmg { 
 max-height:500px;
 border:2px solid #5f5f5f;
 height:500px;
 width:940px;
 z-index:-4949 !important;
}
.preview { 
 color:#e8c0c0;
 font-size:14px;
}
#contain {
 color:#cccccc;
 text-align:center;
}
body { 
 background:#2e2e2e;
}
.h1 { 
 font-weight:bold; 
 font-size:16px;
}
.para { 
 font-size:12px;
}
#mascot { 
 width:100%;
}
a { 
 text-decoration:none;
}
#dlbutt a {
 color:#e8c0c0;
 font-size:14px;
}
.code { 
 background:#5f5f5f;
 padding-left:2px;
 padding-right:2px;
}
.box { 
 display:none;
 z-index:333398945646;
 width:300px;
 height:20px;
 position:absolute;
 background:#5f5f5f;
 left:0;
 right:0;
}
#container { 
 width:940px;
 height:500px;
 position:absolute;
}
