#main {
  width:915px;
  max-width:83%;
  margin:auto;
  margin-top:10%;
}
body {
  background:#2a2a2a;
}
LI.rss_item {
  list-style-type:none;
  margin-left:-40px;
}
.boards {
  display:none;
  z-index:98945646;
  background-image:url(../images/boards.png);
  background-size:100%;
  height:189px;
}
.boards ul li {
  display:inline;
}
.center {
  padding-top:29%;
}
.boards ul, .boards ul li a {
  list-style-type:none;
  color:#fff;
  margin:0;
  text-shadow:1px 1px #000;
  padding:0;
  text-align:center;
}
ul.rss-items,  ul.rss-items a {
  list-style-type:none;
  display:inline;
  margin:0;
  color:#cccccc;
  padding:0;
  outline:none;
}
a {
  text-decoration:none;
}
#search {
  text-align:left;
  width:920px;
  max-width:84%;
  margin:auto;
  margin-top:5%;
  padding-bottom:0;
  margin-bottom:-8%;
}
::-moz-placeholder {
  color:#fff;  
}
.normal {
  color:#cccccc;
}
#greeting {
  color:#cccccc;
  padding-left:5%;
}
body {
  /*background:#2e2e2e;*/
  background-size:cover !important;
  background-repeat:no-repeat !important;
}
DIV.flex-viewport, .flexslider, section, .flexslider.carousel, .slider {
  background:#5f5f5f !important;
}
.flexslider {
  border: 4px #5f5f5f solid !important;
}
*::-moz-selection {
  background: #ccc !important;
  color:#1b1b1b !important;
}
.flex-control-paging li a {
  background: #5f5f5f !important; 
  box-shadow:none !important;
}
.flex-control-paging li a.flex-active { 
  background: #3c3c3c !important;
  background: rgba(0,0,0,0.9); 
  cursor: default; 
}
.flex-direction-nav a:before {
  content:" " !important;
}
.flex-direction-nav a {
  /*width:200px !Important;*/
   width:30px !important;
  color:transparent !important;
  text-transform:lowercase !important;
  text-shadow:none !important;
width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 1; -webkit-transition: all .3s ease;
}
/*.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease; }*/
.flex-direction-nav .flex-next {background-position: 100% ; right: -35px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px !important; }
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px !important; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
